body {
    font-family: Helvetica;
    font-size: 19px;
    color: #111111;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    display: block;
}
a {
    color: #111111;
}
h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.error {
    color: red;
    position: relative;
    right: 0px;
    top: 0px;
}
.container {
    width: 100%;
    margin: 30px;
}
header {
    width: 100%;
    text-align: center;
    color: #222;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 5px;
}
a {
    text-decoration: none;
}
.header-continue {
    margin-bottom: 90px;
}
input[type=text] {
    width: 100%;
    font-family: monospace;
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=submit] {
    font-family: monospace;
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: right;
    width: 8em;
    height: 2em;
    font-size: 17px;
}
textarea {
    width: 100%;
    height: 400px;
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.new-post {
    width: 700px;
}
.like-style {
    display: inline;
    font-weight: normal;
    font-size: 15px;
}
.article-name {
    display: inline;
    font-size: 24px;
}
article {
    position: relative;
    margin-bottom: 60px;
}
.article-title {
    display: block;
    padding-left: 5px;
    margin-left: 5px;
    position: relative;
    padding-bottom: 0px;
    border-bottom: 2px solid #222;
    font-weight: bold;
    margin-bottom: 0px;
}
.article-name:hover {
    text-decoration: underline;
}
.date {
    margin-top: 8px;
    display: inline;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    right: 0px;
    top: 0px;
}
.article-content {
    padding-left: 10px;
    background-color: #e0e0e0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    margin-top: 10px;
}
.new-post-title {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: bold;
}
.new-post-font {
    font-size: 25px;
    letter-spacing: 2px;
}
.user_auth {
    position: relative;
    text-align: right;
    text-align: top;
    vertical-align: text-top;
    font-weight: normal;
}
.blog_header {
    margin-top: 10px;
}
.user_auth_p {
    margin-top: 0;
}
.ed {
    font-size: 14px;
    padding-left: 10px;
    margin-top: 10px;
}
.comment-container-permalink {
    display: block;
    margin-bottom: 20px;
    position: relative;
    background-color: #ededed;
}
.comment-container-main {
    margin-top: 10px;
    padding-left: 10px;
}
.who-commented {
    display: inline;
    font-size: 18px;
}
.commento {
    display: inline;
    font-size: 16px;
}
h5 {
    margin-bottom: 10px;
}
.edit-delete {
    position: absolute;
    right: 0px;
    font-size: 16px;
    height: 50px;
}

tr {
    position: relative;
}