{%extends "base.html"%} {%block content%}
<h2>Login</h2>
<form method="post">
<div class="form-style">
  <label class="lab">Username</label>
  <input type="text" name="username" value="{{username}}">

  <label class="lab">Password</label>
  <input type="password" name="password" value="">
  
  <div class="error">
    {{error}}
  </div>
  
</div>
  <div class="select-one">
    <input type="submit" value="Login" name="login">
    <input type="submit" value="Sign Up" name="signup">
  </div>
</form>
{%endblock%}