{%extends "base.html"%} {%block content%} <article>
<p class="article-title">
    <a href="/blog/{{article.key().id()}}">{{article.title}}</a>
</p>
<p class="date">
    {{article.date.strftime("%b %d, %Y")}}
</p>
<p class="article-content">
    {{article.text}}
</p>
</article>
<h5>Comment: </h5>
 {%for comment in article.comments|sort(attribute='created_in', reverse=False)%}
<div class="comment-container-permalink">
    <div class="who-commented">
         {{comment.made_by}} :
    </div>
    <div class="commento">
         {{comment.comment}}
    </div>
    <div class="date">
         {{comment.created_in.strftime("%I:%M%p %b %d, %Y")}}
    </div>
    <div class="edit-delete">
         {%if name == comment.made_by %} <a href="/blog/{{article.key().id()}}/{{comment.key().id()}}/edit_comment">Edit</a> | <a href="/blog/{{article.key().id()}}/{{comment.key().id()}}/delete_comment">Delete</a>
        {%endif%}
    </div>
</div>
 {%endfor%}
<p class="new-comment-space">
    <a href="/blog/{{article.key().id()}}/new_comment" class="button perma">new comment</a>
</p>
<form method="post">
    <!--Redirect to /blog-->
    <input type="submit" value="Go to Main">
</form>
{%endblock%}