{%extends "base.html"%} {%block content%}
<h2>Signup</h2>
<form method="post">
  <div class="form-style">
    <label class="lab">Username</label>
    <input type="text" name="username" value="{{username}}">
    <div class="error">{{error_username}}</div>

    <label class="lab">Password</label>
    <input type="password" name="password" value="{{password}}">
    <div class="error">{{error_password}}</div>
    
    <label class="lab">Verify Password</label>
    <input type="password" name="verify" value="{{verify}}">
    <div class="error">{{error_verify}}</div>

    <label class="lab">Email (Optional)</label>
    <input type="text" name="email" value="{{email}}">
    <div class="error">{{error_email}}</div>
  </div>
  <input type="submit">
</form>
{%endblock%}